<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">IRS</a>
  
  
    <a class="nav-link" routerLink="/ordering" routerLinkActive="active">Ordering</a>
    <a class="nav-link" routerLink="/takeaway" routerLinkActive="active">Take Away</a>
    <a class="nav-link" routerLink="/outside-delivery" routerLinkActive="active">Outside Delivery</a>
    <a class="nav-link" routerLink="/sign-in" routerLinkActive="active">Sign-In</a>
  
  
  </nav>
  
  <div class="container">
  <router-outlet></router-outlet></div>